.card-text small {
    color: red;
    font-weight: 600;
}

::ng-deep label.star {
    padding: 0 5px !important;
    font-size: 20px !important;
}


.sppiner {
    padding-top: 40vh;
}


.rating-list li {
    float: right;
    color: #ddd;
    padding: 0 5px;

}



.rating-list li.selected {
    color: #ffd700;
}

.rating-list {
    display: inline-block;
    list-style: none;
}