<app-imgnav></app-imgnav>
<div class="mb-3" *ngIf="!loading">
  <img
    src="{{ data.items[0].snippet.thumbnails.medium.url }}"
    class="card-img-top"
    alt="..."
  />

  <div class="container-fluid">
    <div class="row p-7">
      <div class="col-md-6">
        <h5 class="card-title mt-2">{{ data.items[0].snippet.title }}</h5>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-danger bg-red-600 m-3"
          (click)="addToFavorite()"
          routerLink="/fav"
        >
          Add To Favorite
        </button>
      </div>
    </div>
    <hr />
    <div class="row m-4">
      <div class="col-md-4 d-flex">
        <span class="pr-5"> Rate Now</span>
        <ul
          class="list-inline rating-list"
          *ngFor="let star of stars"
          style="display: inline-block"
        >
          <button
            [disabled]="clicked"
            (click)="countStar(star); clicked = true"
          >
            <li [ngClass]="{ selected: star <= selectedValue }">
              <i class="fa fa-star"> </i>
            </li>
          </button>
        </ul>
      </div>
      <div class="col-md-4 duration text-center">
        Duration
        {{ data.items[0].snippet.publishedAt | date : "h:mm:ss" }}
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <app-statistec></app-statistec>
      </div>
    </div>
    <hr />
    <div class="card-text p-3">
      <small class="text-body-secondary"
        >Published on:
        {{ data.items[0].snippet.publishedAt | date : "MMM,dd,YYYY" }}</small
      >

      <p>
        {{ data.items[0].snippet.description }}
      </p>
    </div>
  </div>
</div>

<div class="sppiner text-center w-100" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
