<div class="container" *ngIf="!loading">
  <div class="row">
    <div class="col-md-3" *ngFor="let item of favItem">
      <div class="card mb-3" style="width: 18rem">
        <img
          src="{{ item.items[0].snippet.thumbnails.medium.url }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.items[0].snippet.title }}</h5>
          <p>{{ item.items[0].snippet.publishedAt | date : "MMM,dd,YYYY" }}</p>
          <h3>{{ item.items[0].snippet.rate }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-danger" (click)="remove()">Remove All</button>
    <button class="btn btn-outline-dark m-3" (click)="goBack()">Back</button>
  </div>
</div>

<div class="sppiner text-center w-100" *ngIf="loading">
  <app-spinner></app-spinner>
  <h3>Didn't have Favorite Video, plz go back</h3>
  <button class="btn btn-outline-dark mt-3" (click)="goBack()">Back</button>
</div>
