::ng-deep {
  .ngx-pagination .pagination-previous {

    display: none !important;
  }

  .ngx-pagination .pagination-next {
    display: none !important;
  }

  .small-screen {
    display: none !important;
  }

  .ngx-pagination .current {
    background: #adb5bd !important;
    border-radius: 10px;
  }
}



.sppiner {
  padding-top: 20vh;
}

.title {
  font-size: 20px;

}

@media only screen and (max-width: 400px) {
  .date {
    display: none;
  }

  .title {
    font-size: 15px;
  }
}