<app-top-bar></app-top-bar>

<div class="container-md">
  <div class="favbtn d-flex justify-content-center">
    <button type="button" class="btn btn-danger bg-red-600" routerLink="/fav">
      Add To Favorite
    </button>
  </div>
  <table class="table mt-2">
    <thead>
      <tr>
        <th></th>
        <th (click)="sortBtn('snippet.title')">
          <svg
            aria-hidden="true"
            class="w-5 h-5 d-inline"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
            ></path>
          </svg>
          Title
        </th>
        <th class="date" (click)="sortBtn('snippet.snippet.publishedAt')">
          <svg
            aria-hidden="true"
            class="w-5 h-5 d-inline"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
            ></path></svg
          >Publish Date
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!loading">
        <tr
          *ngFor="
            let video of videos
              | orderBy : orderHeader
              | paginate
                : {
                    itemsPerPage: 10,
                    currentPage: page,
                    totalItems: total
                  }
          "
          routerLink="/details/{{ video.id.videoId }}"
        >
          <td>
            <img src="{{ video.snippet.thumbnails.medium.url }}" alt="" />
          </td>
          <td class="title">{{ video.snippet.title | slice : 0 : 35 }}...</td>
          <td class="date">
            {{ video.snippet.publishedAt | date : "dd-M-YYYY" }}
          </td>
          <td>
            <a
              class="btn border hover:bg-red-600 hover:text-white"
              routerLink="/details"
              >Details</a
            >
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div class="pagination d-flex justify-end" autoHide="true">
    <pagination-controls (pageChange)="changePage($event)">
    </pagination-controls>
  </div>
</div>

<div class="sppiner text-center w-100" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
